.loader__container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: grid;
    place-items: center;
    backdrop-filter: blur(5px);
}

.loader {
    border: 2px solid rgba(128, 128, 128, 1);
    border-top: 2px solid rgba(180, 56, 122, 1);
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
